Source: cura-extra-plugins
Section: science
Priority: optional
Maintainer: Thomas Karl Pietrowski <thopiekar@googlemail.com>
Build-Depends:
 debhelper (>=9), cmake,
 python3-all-dev
Standards-Version: 3.9.6

Package: cura-extra-plugins-all
Architecture: all
Depends:
# cura-extra-plugin-doodle3d,
 cura-extra-plugin-godmode,
 cura-extra-plugin-octoprint,
 cura-extra-plugin-postprocessing,
 cura-extra-plugin-um3networkprinting,
Enhances:
 cura
Description: 3rd party plugins for Cura
 <insert long description, indented with spaces>

Package: cura-extra-plugin-godmode
Architecture: all
Depends:
 cura-plugin-api-3,
 ${misc:Depends}
Description: 3rd party plugins for Cura
 .

Package: cura-extra-plugin-um3networkprinting
Architecture: all
Depends:
 cura-plugin-api-3,
 ${misc:Depends}
Description: 3rd party plugins for Cura
 .

#Package: cura-extra-plugin-doodle3d
#Architecture: all
#Depends:
# cura-plugin-api-2,
# ${misc:Depends}
#Description: 3rd party plugins for Cura
# .

Package: cura-extra-plugin-postprocessing
Architecture: all
Depends:
 cura-plugin-api-3,
 ${misc:Depends}
Description: postprocessing plugin for Cura
 .

Package: cura-extra-plugin-octoprint
Architecture: all
Depends:
 cura-plugin-api-3,
 python3-zeroconf,
 ${misc:Depends}
Description: postprocessing plugin for Cura
 .
