Source: cura-extra-plugins
Section: science
Priority: optional
Maintainer: Thomas Karl Pietrowski <thopiekar@googlemail.com>
Build-Depends:
 debhelper (>=9), cmake,
 python3-all-dev
Standards-Version: 3.9.6

Package: cura-extra-plugins-all
Architecture: all
Depends:
# cura-extra-plugin-doodle3d,
# Not recommended for end-users
# cura-extra-plugin-godmode,
 cura-extra-plugin-octoprint,
 cura-extra-plugin-orientation,
 cura-extra-plugin-postprocessing,
 cura-extra-plugin-um3networkprinting,
Provides:
 cura-extra-plugins
Enhances:
 cura
Description: Cura plugin meta-package
 .

Package: cura-extra-plugin-godmode
Architecture: all
Depends:
 cura-plugin-api-3,
 ${misc:Depends}
Provides:
 cura-extra-plugins-dev
Description: Cura plugin - GodMode
 For more info see: https://github.com/sedwards2009/cura-god-mode-plugin

Package: cura-extra-plugin-um3networkprinting
Architecture: all
Depends:
 cura-plugin-api-3,
 python3-zeroconf,
 ${misc:Depends}
Description: Cura plugin - UM3NetworkPrinting
 For more info see: https://github.com/Ultimaker/UM3NetworkPrintingPlugin

Package: cura-extra-plugin-doodle3d
Architecture: all
Depends:
 cura-plugin-api-2,
 ${misc:Depends}
Description: Cura plugin - Doodle3D
 .

Package: cura-extra-plugin-postprocessing
Architecture: all
Depends:
 cura-plugin-api-3,
 ${misc:Depends}
Description: Cura plugin - PostProcessing
 For more info see: https://github.com/nallath/PostProcessingPlugin

Package: cura-extra-plugin-octoprint
Architecture: all
Depends:
 cura-plugin-api-3,
 python3-zeroconf,
 ${misc:Depends}
Description: Cura plugin - OctoPrint
 For more info see: https://github.com/fieldOfView/OctoPrintPlugin

Package: cura-extra-plugin-orientation
Architecture: all
Depends:
 cura-plugin-api-3,
 python3-zeroconf,
 ${misc:Depends}
Description: Cura plugin - Orientation
 For more info see: https://github.com/nallath/CuraOrientationPlugin
