Source: libnest2d
Section: devel
Priority: optional
Maintainer: Thomas Karl Pietrowski <thopiekar@gmail.com>
Build-Depends:
 debhelper (>= 10),
 cmake,
# libclipper-dev,
 libboost-dev,
 libpolyclipping-dev,
 libnlopt-cxx-dev,
Standards-Version: 4.1.2
Homepage: https://github.com/prusa3d/PrusaSlicer
Vcs-Browser: https://github.com/tamasmeszaros/libnest2d
Vcs-Git: https://github.com/tamasmeszaros/libnest2d.git

Package: libnest2d
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: 2D irregular bin packaging and nesting C++ header-only library
 2D irregular bin packaging and nesting C++ header-only library
 .
 Library

Package: libnest2d-dev
Architecture: all
Depends:
 libnest2d,
 ${misc:Depends},
Description: 2D irregular bin packaging and nesting C++ header-only library
 2D irregular bin packaging and nesting C++ header-only library
 .
 Development files
