#!/usr/bin/make -f

# output every command that modifies files on the build system.
export DH_VERBOSE = 1

DEB_PACKAGE_VERSION ?= $(shell dpkg-parsechangelog -SVersion | cut -f2 -d":" | cut -f1 -d"~")

%:
	dh $@ --buildsystem=cmake --parallel

override_dh_auto_install:
	dh_auto_install --destdir=debian/tmp

# https://github.com/Ultimaker/cura-binary-data/pull/4
#override_dh_install:
#	dh_install --fail-missing

override_dh_auto_test:
		dh_auto_test || true
