Source: stb
Section: devel
Priority: optional
Maintainer: Thomas Karl Pietrowski <thopiekar@gmail.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.2
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: https://anonscm.debian.org/git/collab-maint/stb.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/stb.git

Package: stb
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Provides: stb-dev
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
