Source: cura-engine
Section: utils
Priority: optional
Maintainer: Thomas Karl Pietrowski <thopiekar@googlemail.com>
Build-Depends:
 debhelper (>= 9), cmake,
 python3-all-dev,
 libarcus-dev,
# Protobuf (>= 3.5)
 protobuf-compiler (>= 3.5), libprotobuf-dev (>= 3.5),
 stb-dev,
# Tests
 libcppunit-dev,
Standards-Version: 3.9.6
Homepage: https://github.com/Ultimaker/CuraEngine
Vcs-Git: https://github.com/Ultimaker/CuraEngine.git
Vcs-Browser: https://github.com/Ultimaker/CuraEngine
X-Python3-Version: >= 3.4

Package: cura-engine
Architecture: any
Depends: ${shlibs:Depends}, ${python3:Depends}, ${misc:Depends}
Description: commandline slicer program for 3-D printers
 3-D printers need a toolpath for printing, while what is usually distributed
 is a 3-D model.  A slicer programs converts a model to a toolpath, with user
 defined settings for options such as infill density and printing speed.
 .
 This slicer is the commandline backend of Cura.
