#!/usr/bin/make -f

DEB_ARCH=$(shell dpkg --print-architecture)

# output every command that modifies files on the build system.
#export DH_VERBOSE = 1

%:
	dh $@ --buildsystem=cmake --parallel

override_dh_auto_configure:
	dh_auto_configure -- \
	    -DCMAKE_LIBRARY_PATH=$(DEB_HOST_MULTIARCH) \
	    -DBUILD_TESTS:BOOL=ON

override_dh_install:
	dh_install --fail-missing

ifneq ($(DEB_ARCH),amd64)
override_dh_auto_test:
        @echo "Ignoring tests on $(DEB_ARCH)"
	dh_auto_test || true
endif
