Source: cura
Section: graphics
Priority: optional
Maintainer: Thomas Karl Pietrowski <thopiekar@googlemail.com>
Build-Depends:
 debhelper (>= 9), cmake,
 python3-dev,
 python3-uranium, uranium-tools,
 qttools5-dev, qttools5-dev-tools,
 gettext,
 python3-pytest, pylint3,
Standards-Version: 3.9.6
Homepage: https://thopiekar.eu/cura/ppa/
X-Python3-Version: >= 3.4
Vcs-Git: https://github.com/Ultimaker/Cura.git
Vcs-Browser: https://github.com/Ultimaker/Cura

Package: cura
Architecture: all
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 ${python3:Depends},
 cura-engine,
 cura-resources-materials,
 python3-uranium,
 python3-savitar,
 qml-module-qtqml-models2,
 qml-module-qtquick-controls,
 qml-module-qtquick-controls2,
 qml-module-qtquick-dialogs,
 qml-module-qt-labs-settings,
 qml-module-qt-labs-folderlistmodel,
Recommends:
 fonts-open-sans,
 cura-resources-firmware,
 cura-plugins-all,
 python3-numpy-stl,
 python3-pyqt5,
 python3-pyqt5.qtwebsockets,
 python3-pyqt5.qtx11extras,
Provides:
 cura-plugin-api-3,
 ${python3:Provides},
XB-Python3-Version:
 ${python3:Versions},
Description: GUI G-code generator for 3D printers
 Cura converts digital 3D models into printing instructions (G-code)
 for your 3D printer. It cuts the model into horizontal slices (layers),
 generates toolpaths to fill them and calculates the amount of material
 to be extruded.
 .
 Cura is easy to use for novices and provide over 200 settings to adjust
 for the expert.  It can output G-Code for several series of 3D printers,
 most notably the Ultimaker.
 .
 This package provides the user interface.

Package: cura-plugins-all
Architecture: all
Depends:
 cura-plugin-gcodereader,
 cura-plugin-postprocessing,
 cura-plugin-sliceinfo,
 cura-plugin-ufpwriter,
 cura-plugin-ultimakermachineactions,
 cura-plugin-um3networkprinting,
 cura-plugin-usbprinting,
 cura-plugin-x3dreader,
Provides:
 cura-plugins
Enhances:
 cura
Description: GUI G-code generator for 3D printers - plugin metapackage
 Cura converts digital 3D models into printing instructions (G-code)
 for your 3D printer. It cuts the model into horizontal slices (layers),
 generates toolpaths to fill them and calculates the amount of material
 to be extruded.
 .
 Cura is easy to use for novices and provide over 200 settings to adjust
 for the expert.  It can output G-Code for several series of 3D printers,
 most notably the Ultimaker.
 .
 This package is a meta package to ensure, that all optional plugins have been installed.

Package: cura-plugin-gcodereader
Architecture: all
Depends:
 cura-plugin-api-3,
 ${shlibs:Depends},
 ${misc:Depends},
 ${python3:Depends},
Provides:
 ${python3:Provides},
XB-Python3-Version:
 ${python3:Versions},
Description:  GUI G-code generator for 3D printers - G-code reader plugin
 Cura converts digital 3D models into printing instructions (G-code)
 for your 3D printer. It cuts the model into horizontal slices (layers),
 generates toolpaths to fill them and calculates the amount of material
 to be extruded.
 .
 Cura is easy to use for novices and provide over 200 settings to adjust
 for the expert.  It can output G-Code for several series of 3D printers,
 most notably the Ultimaker.
 .
 This package provides a G-code reader.

Package: cura-plugin-postprocessing
Architecture: all
Depends:
 cura-plugin-api-3,
 ${shlibs:Depends},
 ${misc:Depends},
 ${python3:Depends},
Provides:
 ${python3:Provides},
XB-Python3-Version:
 ${python3:Versions},
Description:  GUI G-code generator for 3D printers - Post-Processing plugin
 Cura converts digital 3D models into printing instructions (G-code)
 for your 3D printer. It cuts the model into horizontal slices (layers),
 generates toolpaths to fill them and calculates the amount of material
 to be extruded.
 .
 Cura is easy to use for novices and provide over 200 settings to adjust
 for the expert.  It can output G-Code for several series of 3D printers,
 most notably the Ultimaker.
 .
 This package provides a Post-Processing plugin.

Package: cura-plugin-sliceinfo
Architecture: all
Depends:
 cura-plugin-api-3,
 ${shlibs:Depends},
 ${misc:Depends},
 ${python3:Depends},
Provides:
 ${python3:Provides},
XB-Python3-Version:
 ${python3:Versions},
Description:  GUI G-code generator for 3D printers - sliceinfo plugin
 Cura converts digital 3D models into printing instructions (G-code)
 for your 3D printer. It cuts the model into horizontal slices (layers),
 generates toolpaths to fill them and calculates the amount of material
 to be extruded.
 .
 Cura is easy to use for novices and provide over 200 settings to adjust
 for the expert.  It can output G-Code for several series of 3D printers,
 most notably the Ultimaker.
 .
 This package provides a tool, which sends statistics to Ultimaker.

Package: cura-plugin-ufpwriter
Architecture: all
Depends:
 cura-plugin-api-3,
 ${shlibs:Depends},
 ${misc:Depends},
 ${python3:Depends},
Provides:
 ${python3:Provides},
Conflicts:
 cura (< ${binary:Version}),
Breaks:
 cura (< ${binary:Version}),
XB-Python3-Version:
 ${python3:Versions},
Description: GUI G-code generator for 3D printers - UFPWriter plugin
 Cura converts digital 3D models into printing instructions (G-code)
 for your 3D printer. It cuts the model into horizontal slices (layers),
 generates toolpaths to fill them and calculates the amount of material
 to be extruded.
 .
 Cura is easy to use for novices and provide over 200 settings to adjust
 for the expert.  It can output G-Code for several series of 3D printers,
 most notably the Ultimaker.
 .
 This package provides a UFPWriter plugin.

Package: cura-plugin-ultimakermachineactions
Architecture: all
Depends:
 cura-plugin-api-3,
 ${shlibs:Depends},
 ${misc:Depends},
 ${python3:Depends},
Provides:
 ${python3:Provides},
XB-Python3-Version:
 ${python3:Versions},
Description: GUI G-code generator for 3D printers - ultimakermachineactions plugin
 Cura converts digital 3D models into printing instructions (G-code)
 for your 3D printer. It cuts the model into horizontal slices (layers),
 generates toolpaths to fill them and calculates the amount of material
 to be extruded.
 .
 Cura is easy to use for novices and provide over 200 settings to adjust
 for the expert.  It can output G-Code for several series of 3D printers,
 most notably the Ultimaker.
 .
 This package provides a functions to run Ultimaker-specific actions.

Package: cura-plugin-um3networkprinting
Architecture: all
Depends:
 cura-plugin-api-3,
 ${shlibs:Depends},
 ${misc:Depends},
 ${python3:Depends},
 python3-zeroconf,
Provides:
 ${python3:Provides},
 cura-extra-plugin-um3networkprinting,
Conflicts:
 cura-extra-plugin-um3networkprinting,
Replaces:
 cura-extra-plugin-um3networkprinting,
XB-Python3-Version:
 ${python3:Versions},
Description:  GUI G-code generator for 3D printers - um3networkprinting plugin
 Cura converts digital 3D models into printing instructions (G-code)
 for your 3D printer. It cuts the model into horizontal slices (layers),
 generates toolpaths to fill them and calculates the amount of material
 to be extruded.
 .
 Cura is easy to use for novices and provide over 200 settings to adjust
 for the expert.  It can output G-Code for several series of 3D printers,
 most notably the Ultimaker.
 .
 This package adds the possibility to interact with Ultimaker3 printers over the network.

Package: cura-plugin-usbprinting
Architecture: all
Depends:
 cura-plugin-api-3,
 ${shlibs:Depends},
 ${misc:Depends},
 ${python3:Depends},
XB-Python3-Version:
 ${python3:Versions},
Description: GUI G-code generator for 3D printers - usbprinting plugin
 Cura converts digital 3D models into printing instructions (G-code)
 for your 3D printer. It cuts the model into horizontal slices (layers),
 generates toolpaths to fill them and calculates the amount of material
 to be extruded.
 .
 Cura is easy to use for novices and provide over 200 settings to adjust
 for the expert.  It can output G-Code for several series of 3D printers,
 most notably the Ultimaker.
 .
 This package adds additional functions to be able to print via USB.

Package: cura-plugin-x3dreader
Architecture: all
Depends:
 cura-plugin-api-3,
 ${shlibs:Depends},
 ${misc:Depends},
 ${python3:Depends},
Provides:
 ${python3:Provides},
XB-Python3-Version:
 ${python3:Versions},
Description: GUI G-code generator for 3D printers - x3dreader plugin
 Cura converts digital 3D models into printing instructions (G-code)
 for your 3D printer. It cuts the model into horizontal slices (layers),
 generates toolpaths to fill them and calculates the amount of material
 to be extruded.
 .
 Cura is easy to use for novices and provide over 200 settings to adjust
 for the expert.  It can output G-Code for several series of 3D printers,
 most notably the Ultimaker.
 .
 This package is used to open X3D files in Cura.
