Source: cura
Section: graphics
Priority: optional
Maintainer: Thomas Karl Pietrowski <thopiekar@gmail.com>
Build-Depends:
 debhelper (>= 9),
 dh-python,
 cmake,
 python3-dev,
 python3-dbg,
 python3-uranium, uranium-tools,
# Qt development tools
 qttools5-dev, qttools5-dev-tools,
# Generating translations
 gettext,
 python3-pytest,
 pylint3 | pylint,
Standards-Version: 3.9.6
Homepage: https://thopiekar.eu/cura/ppa/
X-Python3-Version: >= 3.4
Vcs-Git: https://github.com/Ultimaker/Cura.git
Vcs-Browser: https://github.com/Ultimaker/Cura

Package: cura
Architecture: all
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 ${python3:Depends},
# brewed by Ultimaker
 cura-engine,
 cura-resources-materials,
 python3-charon,
 python3-uranium,
 python3-savitar,
 python3-pynest2d,
# QML
 qml-module-qtqml-models2,
 qml-module-qtquick-controls (>= 5.10),
 qml-module-qtquick-controls2 (>= 5.10),
 qml-module-qtquick-dialogs (>= 5.10),
 qml-module-qt-labs-settings,
 qml-module-qt-labs-folderlistmodel,
Recommends:
 fonts-open-sans,
 cura-resources-firmware,
 cura-plugins-all,
 python3-numpy-stl,
 python3-trimesh,
 python3-pyqt5,
 python3-pyqt5.qtwebsockets,
 python3-pyqt5.qtx11extras,
Provides:
 cura-plugin-api-3,
 cura-plugin-gcodereader,
 cura-plugin-postprocessing,
 cura-plugin-ultimakermachineactions,
 cura-plugin-um3networkprinting,
 cura-plugin-usbprinting,
 cura-plugin-ufpreader,
 cura-plugin-ufpwriter,
 cura-plugin-x3dreader,
 ${python3:Provides},
Conflicts:
 cura-plugin-ufpwriter,
Replaces:
 cura-plugin-gcodereader,
 cura-plugin-postprocessing,
 cura-plugin-ultimakermachineactions,
 cura-plugin-um3networkprinting,
 cura-plugin-usbprinting,
 cura-plugin-x3dreader,
XB-Python3-Version:
 ${python3:Versions},
Description: Slicing application for 3-D printers (GUI)
 Cura converts digital 3D models into printing instructions (G-code)
 for your 3D printer. It cuts the model into horizontal slices (layers),
 generates toolpaths to fill them and calculates the amount of material
 to be extruded.
 .
 Cura is easy to use for novices and provide over 200 settings to adjust
 for the expert.  It can output G-Code for several series of 3D printers,
 most notably the Ultimaker.
 .
 This package provides the user interface.

Package: cura-plugins-all
Architecture: all
Depends:
 cura-plugin-curadrive,
 cura-plugin-sliceinfo,
Provides:
 cura-plugins,
Enhances:
 cura,
Description: Slicing application for 3-D printers - plugin metapackage
 Cura converts digital 3D models into printing instructions (G-code)
 for your 3D printer. It cuts the model into horizontal slices (layers),
 generates toolpaths to fill them and calculates the amount of material
 to be extruded.
 .
 Cura is easy to use for novices and provide over 200 settings to adjust
 for the expert.  It can output G-Code for several series of 3D printers,
 most notably the Ultimaker.
 .
 This package is a meta package to ensure, that all optional plugins have been installed.

Package: cura-plugin-curadrive
Architecture: all
Depends:
 cura-plugin-api-3,
 ${shlibs:Depends},
 ${misc:Depends},
 ${python3:Depends},
Provides:
 ${python3:Provides},
XB-Python3-Version:
 ${python3:Versions},
Description: Slicing application for 3-D printers - CuraDrive plugin
 Cura converts digital 3D models into printing instructions (G-code)
 for your 3D printer. It cuts the model into horizontal slices (layers),
 generates toolpaths to fill them and calculates the amount of material
 to be extruded.
 .
 Cura is easy to use for novices and provide over 200 settings to adjust
 for the expert.  It can output G-Code for several series of 3D printers,
 most notably the Ultimaker.
 .
 This package provides a service, which allows backups of configurations and settings to Ultimaker servers.

Package: cura-plugin-sliceinfo
Architecture: all
Depends:
 cura-plugin-api-3,
 ${shlibs:Depends},
 ${misc:Depends},
 ${python3:Depends},
Provides:
 ${python3:Provides},
XB-Python3-Version:
 ${python3:Versions},
Description: Slicing application for 3-D printers - SliceInfoPlugin plugin
 Cura converts digital 3D models into printing instructions (G-code)
 for your 3D printer. It cuts the model into horizontal slices (layers),
 generates toolpaths to fill them and calculates the amount of material
 to be extruded.
 .
 Cura is easy to use for novices and provide over 200 settings to adjust
 for the expert.  It can output G-Code for several series of 3D printers,
 most notably the Ultimaker.
 .
 This package provides a tool, which sends statistics to Ultimaker.
