#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
export DH_VERBOSE = 1
# Suppress __pycache__ pollution
export PYTHONDONTWRITEBYTECODE = 1

DEB_PACKAGE_VERSION ?= $(shell dpkg-parsechangelog -SVersion | cut -f2 -d":" | cut -f1 -d"~")

%:
	dh $@ --buildsystem=cmake --with python3 --parallel

override_dh_clean:
	rm -fv debian/cura.sharedmimeinfo
	patch --dry-run -Rf -i debian/patches/02-exclude-fonts.patch && patch -R -i debian/patches/02-exclude-fonts.patch || true
	dh_clean -O--buildsystem=cmake -O--parallel

override_dh_install:
	dh_install --fail-missing

override_dh_auto_configure:
	patch -f -i debian/patches/02-exclude-fonts.patch
	dh_auto_configure -- \
	                  -DCMAKE_LIBRARY_PATH=$(DEB_HOST_MULTIARCH) \
	                  -DURANIUM_SCRIPTS_DIR=/usr/share/uranium/scripts/ \
	                  -DGETTEXT_MSGINIT_EXECUTABLE=/usr/bin/msginit \
	                  -DCURA_VERSION="$(DEB_PACKAGE_VERSION)-PPA" \
			  -DCURA_SDK_VERSION=6.0.0

override_dh_installmime:
	cp -fv cura.sharedmimeinfo debian/cura.sharedmimeinfo
	dh_installmime -O--buildsystem=cmake -O--parallel

override_dh_auto_test:
	dh_auto_test || true
