#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1

CURA_PLUGINS = Doodle3D-cura-plugin PostProcessingPlugin OctoPrintPlugin

%:
	dh $@ --parallel


override_dh_auto_clean:
	for PLUGIN in $(CURA_PLUGINS) ; do \
	    dh_auto_clean -O--sourcedirectory=$${PLUGIN} \
		          -O--builddirectory=$${PLUGIN}-build; \
	done

override_dh_auto_configure:
	for PLUGIN in $(CURA_PLUGINS) ; do \
	    dh_auto_configure -O--sourcedirectory=$${PLUGIN} \
	                      -O--builddirectory=$${PLUGIN}-build; \
	done

override_dh_auto_build:
	for PLUGIN in $(CURA_PLUGINS) ; do \
	    dh_auto_build -O--sourcedirectory=$${PLUGIN} \
	                  -O--builddirectory=$${PLUGIN}-build; \
	done

override_dh_auto_install:
	for PLUGIN in $(CURA_PLUGINS) ; do \
	    dh_auto_install -O--sourcedirectory=$${PLUGIN} \
	                    -O--builddirectory=$${PLUGIN}-build; \
	done

override_dh_install:
	dh_install --fail-missing
