Source: fdm-materials
Section: science
Priority: optional
Maintainer: Thomas Karl Pietrowski <thopiekar@googlemail.com>
Build-Depends:
 debhelper (>= 9), cmake,
Standards-Version: 3.9.6
Homepage: https://github.com/Ultimaker/fdm_materials
Vcs-Git: https://github.com/Ultimaker/fdm_materials.git
Vcs-Browser: https://github.com/Ultimaker/fdm_materials

Package: cura-resources-materials
Architecture: all
Depends:
 ${misc:Depends},
Provides:
 fdm-materials,
 cura-resources-materials-generic,
 cura-resources-materials-chromatik,
 cura-resources-materials-fiberlogy,
 cura-resources-materials-filo3d,
 cura-resources-materials-imade3d,
 cura-resources-materials-octofiber,
 cura-resources-materials-polymaker,
 cura-resources-materials-ultimaker,
Conflicts:
 fdm-materials,
 cura (<< 2.4),
Replaces:
 fdm-materials,
Description:  Cura material files
 These files are needed to work with printers like UM2+ and UM3.

