Source: uranium
Section: python
Priority: optional
Maintainer: Thomas Karl Pietrowski <thopiekar@googlemail.com>
Build-Depends:
 debhelper (>= 9), cmake,
 python3-all-dev,
 python3-pyqt5, python3-numpy,
 doxygen,
 gettext,
# Test suite
 python3-pytest, pylint3,
 python3-scipy,
Standards-Version: 3.9.6
Homepage: https://github.com/Ultimaker/Uranium
X-Python3-Version: >= 3.4
Vcs-Git: https://github.com/Ultimaker/Uranium.git
Vcs-Browser: https://github.com/Ultimaker/Uranium

Package: python3-uranium
Architecture: all
Depends:
 ${shlibs:Depends},
 ${python3:Depends},
 ${misc:Depends},
 uranium-plugins,
 python3-arcus,
# 3rd party Python modules
 python3-numpy,
 python3-scipy,
# PyQt5
 python3-pyqt5,
 python3-pyqt5.qtopengl,
 python3-pyqt5.qtquick,
 python3-pyqt5.qtsvg,
 python3-serial,
# QML
 qml-module-qtqml-models2,
 qml-module-qtquick-dialogs,
Recommends:
# For coloured console output
 python3-colorlog,
# For numpy to calculate faster
 libopenblas-base,
Provides:
 ${python3:Provides}
XB-Python3-Version:
 ${python3:Versions}
Description: A Python framework for building Desktop applications. 
 A Python framework for building Desktop applications. 

Package: uranium-plugins
Architecture: all
Depends:
 ${shlibs:Depends},
 ${python3:Depends},
 ${misc:Depends}
Description: A Python framework for building Desktop applications. 
 A Python framework for building Desktop applications. 

Package: uranium-tools
Architecture: all
Section: devel
Depends:
 ${shlibs:Depends},
 ${python3:Depends},
 ${misc:Depends}
Description: A Python framework for building Desktop applications. 
 A Python framework for building Desktop applications. 
