Source: libcharon
Section: devel
Priority: optional
Maintainer: Thomas Karl Pietrowski <thopiekar@googlemail.com>
Build-Depends:
 debhelper (>= 9),
 cmake,
 python3-all-dev, python3-all-dbg,
Standards-Version: 3.9.8
X-Python3-Version: >= 3.4
Homepage: https://github.com/Ultimaker/libCharon
Vcs-Git: https://github.com/Ultimaker/libCharon.git
Vcs-Browser: https://github.com/Ultimaker/libCharon

Package: charon
Architecture: all
Multi-Arch: same
Section: libs
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 python3-charon,
Description: libCharon libraries
 libCharon is a c++ implementation of 3mf loading with SIP python bindings

Package: python3-charon
Architecture: all
Section: python
Depends:
 ${shlibs:Depends},
 ${python3:Depends},
 ${misc:Depends},
Provides:
 ${python3:Provides}
XB-Python3-Version:
 ${python3:Versions}
Description: Python3 bindings for libCharon
 libCharon is a c++ implementation of 3mf loading with SIP python bindings
