#!/usr/bin/make -f

# output every command that modifies files on the build system.
export DH_VERBOSE = 1

%:
	dh $@ --with python3 --buildsystem=cmake --parallel

override_dh_install:
	dh_install --fail-missing

override_dh_auto_configure:
	dh_auto_configure -- \
	-DCMAKE_LIBRARY_PATH=$(DEB_HOST_MULTIARCH)




