Source: cura-extra-plugins
Section: graphics
Priority: optional
Maintainer: Thomas Karl Pietrowski <thopiekar@googlemail.com>
Build-Depends:
 debhelper (>=9), cmake,
 python3-all-dev,
Standards-Version: 3.9.6

Package: cura-plugins-all-extra
Provides:
 cura-extra-plugins-all,
 cura-extra-plugins,
Architecture: all
Depends:
 cura-plugin-octoprint,
 cura-plugin-orientation,
 cura-plugin-postprocessing,
Enhances:
 cura
Description: Cura plugin meta-package
 .

Package: cura-plugins-all-extra-dev
Provides:
 cura-extra-plugins-all-dev,
 cura-extra-plugins,
Architecture: all
Depends:
 cura-plugin-godmode,
 cura-plugin-dbusinterface,
Enhances:
 cura
Description: Cura plugin meta-package
 .

Package: cura-plugin-godmode
Provides:
 cura-extra-plugin-godmode,
Architecture: all
Depends:
 cura-plugin-api-3,
 ${misc:Depends}
Description: Cura plugin - GodMode
 For more info see: https://github.com/sedwards2009/cura-god-mode-plugin

Package: cura-plugin-dbusinterface
Provides:
 cura-extra-plugin-dbusinterface,
Architecture: all
Depends:
 cura-plugin-api-3,
 ${misc:Depends}
Description: Cura plugin - DBusInterface
 For more info see: https://github.com/awhiemstra/cura-dbusinterface

Package: cura-plugin-postprocessing
Provides:
 cura-extra-plugin-postprocessing,
Architecture: all
Depends:
 cura-plugin-api-3,
 ${misc:Depends}
Description: Cura plugin - PostProcessing
 For more info see: https://github.com/nallath/PostProcessingPlugin

Package: cura-plugin-octoprint
Provides:
 cura-extra-plugin-octoprint,
Architecture: all
Depends:
 cura-plugin-api-3,
 python3-zeroconf,
 ${misc:Depends}
Description: Cura plugin - OctoPrint
 For more info see: https://github.com/fieldOfView/OctoPrintPlugin

Package: cura-plugin-orientation
Provides:
 cura-extra-plugin-orientation,
Architecture: all
Depends:
 cura-plugin-api-3,
 python3-zeroconf,
 ${misc:Depends}
Description: Cura plugin - Orientation
 For more info see: https://github.com/nallath/CuraOrientationPlugin
